html, body{
  height: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

/*-------- PÁGINA DE CARGA -------*/
.load-screen{
  display: flex;
  background-color: #000;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  opacity: 1;
}
.lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*-------- / PÁGINA DE CARGA -------*/
body.dia{
  background-color: #F8F7FC;
  color: #79838F;
}
body.noche{
  background-color: #292E3A;
  color: #F2F2F2;
}

body.dia td, body.dia th{
  color: #79838F;
}
body.noche td, body.noche th{
  color: #F2F2F2;
}

.list-group{
  background-color: #fff;
}
.envolvente{
  width:100%;
  min-height:100%;
}
.contenedor_principal{
  min-height: 100%;
}
.contenido_principal{
  min-height: 100%;
}
/* ESTILOS DIA */
.envolvente_dia .sidebar{
  background-color: #F2F2F2;
  color: #79838F;
}
.envolvente_dia .sidebar a{
  color: #79838F;
}
.envolvente_dia .contenido_principal{
  background-color: #F8F7FC;
  color: #79838F;
  min-height: 100%;
}

.envolvente_dia .sidebar .logo_contenedor{
  background-color: #F2F2F2;
  color: #79838F;
}
.envolvente_dia .contenido_principal .logo_contenedor{
  background-color: #F8F7FC;
  color: #79838F;
}

/* ESTILOS NOCHE */
.envolvente_noche .sidebar{
  background-color: #18233D;
  color: #F2F2F2;

}

.envolvente_noche .sidebar a{
  color: #ffffff;

}
.envolvente_noche .contenido_principal{
  background-color: #292E3A;
  color: #F2F2F2;
  min-height: 100%;
}

.envolvente_noche .contenido_principal a{
  color: #f05825;
}

.envolvente_noche .sidebar .logo_contenedor{

}
.envolvente_noche .contenedor_principal .logo_contenedor{

}

.sidebar{
  position:absolute;
  color: #fff;
  height: 100%;
  z-index: 100;
  width:80%;
  right: -100%;
  transition: right 300ms ease;
}

.sidebar_mostrar{
  right: 0;
}
.contenedor_principal{
  width:100%;
}
.contenido_principal{
    padding:0 20px;
    padding-top: 30px;
    padding-bottom: 50px;
}
@media (min-width: 576px) {
  .sidebar{
    position:absolute;
    color: #fff;
    height: 100%;
    z-index: 100;
    width:100%;
    left: -100%;
  }

  .contenedor_principal .logo_contenedor{
    display: block;
  }
}

@media (min-width: 768px) {
  .sidebar{
    position:fixed;
    height: 100%;
    width: 20%;
    left: 0;
  }
  .contenedor_principal{
    width: 80%;
    margin-left:20%;
  }
  .contenedor_principal .logo_contenedor{
    display: none;
  }

}

@media (min-width: 992px) {
  .sidebar{
    position:fixed;
    height: 100%;
    width: 15%;
    left: 0;
  }
  .contenedor_principal{
    width: 85%;
    margin-left:15%;
  }

  .contenedor_principal .logo_contenedor{
    display: none;
  }

}

@media (min-width: 1200px) {
  .sidebar{
    position:fixed;
    height: 100%;
    width: 10%;
    left: 0;
  }
  .contenedor_principal{
    width: 90%;
    margin-left:10%;
  }

  .contenedor_principal .logo_contenedor{
    display: none;
  }

}

/*Estilos de actividades */
.envolvente_noche .list-group-item{
  background-color: transparent;
}

.envolvente_noche .list-group-item a{
  color: #F8F9FA;
}

.btn-circulo-flotante{
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding:25px 30px;
  border-radius: 50px;
}

/* Lista de Tareas */
.lista_tareas.dia li{
  background-color: #fff;
  margin-bottom: 8px;
  overflow: hidden;
  border-bottom: 1px solid #c5c6c7;
}

.lista_tareas.noche li{
  background-color: #18233D;
  margin-bottom: 8px;
  border-bottom: 1px solid #c5c6c7;
  overflow: hidden;
}

.lista_tareas.dia li.fecha_tareas{
  background: transparent;
  padding: 0 16px 0 0;
  font-size: 1em;
  margin: 24px 0 0 0;
}

.lista_tareas.noche li.fecha_tareas{
  background: transparent;
  padding: 0 16px 0 0;
  font-size: 1em;
  margin: 24px 0 0 0;
}

.lista_tareas.noche li a{
  color: #fff;
}

.lista_tareas.dia .fondo-icono{
  background-color: #eee;
}

.lista_tareas.noche .fondo-icono{
  background-color: #000;
}

/* /Lista de Tareas */
/* Lista de Proyectos */
.proyecto{
	padding: 16px;
	margin-bottom: 16px;
	border-radius: 8px;
	box-shadow: 2px 2px 8px -7px rgba(0,0,0,0.60);
	-webkit-box-shadow: 2px 2px 8px -7px rgba(0,0,0,0.60);
	-moz-box-shadow: 22px 2px 8px -7px rgba(0,0,0,0.60);
	overflow: hidden;
	border: solid 1px #dbdfe1;
}
.proyecto.dia{
  background-color: #FFFFFF;
  color: #79838F;
}
.proyecto.dia a{
  color: #79838F;
}
.proyecto.noche{
  background-color: #18233D;
  color: #F2F2F2;
  border: solid 1px #454b57;
}
.proyecto.noche a{
  color: #F2F2F2;
}
.col-12.previo_proyecto {
  color: #727e88;
}
.envolvente_noche .col-12.previo_proyecto {
  color: #727e88;
}
.progress {
  height: 5px;
  background-color: #eaeef23b;
  border-radius: .25rem;
}
/* /Lista de Proyectos */
<<<<<<< Updated upstream
=======

/* Validaciones */
.modal-content.dia {
  background-color: #FFF;
}

.modal-content.noche {
  background-color: #18233D;
}

.noche .table td,.noche .table th {
	/* border: 1px solid #54585e; */
}

.envolvente_noche .list-group {
  background-color: #18233D;
}

td {
    border: none !important;
  }

table {
  border-collapse: collapse;
  border: 1px solid #54585e;
}

.table.tabla_parametros {
  min-width: 300px;
}

.table.tabla_parametros tr {
    border-bottom: 1px solid #54585e;
    border-top: 1px solid #54585e;
    border-collapse: collapse;
}​

.table.tabla_parametros td:first-child {
  min-width: 300px;
}

.envolvente_noche .table.tabla_parametros td:first-child {
  background: #3f4553;
}

.scroll-tabla {
  overflow-x: scroll;
}
>>>>>>> Stashed changes
